/*-----------------------header-----------------------*/

header{
    border: 1px solid var(--border-color);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    z-index: 999;
}

.logo-link img{
    width: 100%;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    align-content: center;
}

.menu a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 16px;
    font-size: 16px;
    text-align: center;
}

.menu a:hover{
    color: var(--bnt-color);
}

menu a:active{
    color: var(--bnt-color);
}

.menu button{
    color: var(--text-color);
    cursor: pointer;
    margin: 5px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    padding: 16px;
}

#btnAumentar, #btnDiminuir{
    padding: 0;
}
.sub-menu {
    float: left;
}

#icone-sub-menu, #icone-conta{
    display: none;
}

.content-sub-menu {
    display: none;
    position: absolute;
    background-color: var(--body-color);
    border: 1px solid var(--border-color);
}

#menu-text:hover{
    color: var(--bnt-color);
}

.content-sub-menu a{
    float: none;
    text-align: left;
}

.content-sub-menu a:hover{
    background-color: var(--bnt-color);
    color: var(--text-light-color);
}
  

.sub-menu:hover .content-sub-menu{
    display: block;
}

#bnt-mobile{
    font-size: 30px;
    display: none;
    color: var(--text-color);
    cursor: pointer;
    margin: 5px;
    border: none;
    background-color: var(--body-color);
}

#logado{
    display: none;
}

#users{
    display: none;
}

.logado-content{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    align-content: center;
    right: 80px;
    background-color: var(--body-color);
    border: 1px solid var(--border-color);
}

.logado-content p{
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
}

.logado-content a{
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}


.logado-content a:hover, .logado-content p:hover{
    background-color: var(--bnt-color);
    color: var(--text-light-color);
}

.menu-conta:hover .logado-content{
    display: flex;
}
  
/*-----------------------header-----------------------*/

/*-----------------------Responsividade-----------------------*/


@media screen and (max-width: 1024px){

    header{
        width: 100%;
    }

}

@media screen and (max-width: 768px){

    header{
        width: 100%;
    }

    #bnt-mobile{
        display: block;
    }

    .menu{
        display: none;
    }

    .menu.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--body-color);
        height: 100vh;
        border: 1px solid var(--border-color);
        width: 40%;
        z-index: 999;
    }

    #menu-text{
        border-bottom: 2px solid var(--border-color);
        width: 100%;
        margin: 0;
    }

    #icone-sub-menu{
        display: block;
        position: absolute;
        right: 5px;
        top: 16px;
        color: var(--text-color);
        transform: translateX(0px);
        animation: float 6s ease-out infinite;
    }

    #icone-conta{
        position: absolute;
        right: 5px;
        top: 16px;
        color: var(--text-color);
        transform: translateX(0px);
        animation: float 6s ease-out infinite;
    }

    @keyframes float {
        0%{
            transform: translateY(0px);
        }

        50%{
            transform: translateY(-5px);
        }

        100%{
            transform: translateY(0px);
        }
    }

    .sub-menu{
        width: 100%;
        position: relative;
    }

    .content-sub-menu, .logado-content{
        width: 100%;
        position: unset;
        border: unset;
    }

    .menu a{
        border-bottom: 2px solid var(--border-color);
        width: 100%;
        margin: 0;
    }

    #bnt-darkmode, #btnAumentar, #btnDiminuir,#logado{
        border-bottom: 2px solid var(--border-color);
        width: 100%;
        margin: 0;
        padding: 16px;
    }
    
    .menu-conta{
        width: 100%;
        position: relative;
    }

    .logado-content p{
        border-bottom: 2px solid var(--border-color);
    }
    
    .logado-content button{
        border-bottom: 2px solid var(--border-color);
    }

}


/*-----------------------Responsividade-----------------------*/